@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

a{
	letter-spacing: 0.5px;
	transition: 0.5s;
	display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
}
.navbar-brand{
	color: #4C4B4B;
	letter-spacing: 0.5px;
}
h2{
	color: #4C4B4B;
	letter-spacing: 0.5px;
	font-family: raleway;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(251, 246, 246);
    color: black;
    text-align: left;
    cursor:pointer;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
	text-decoration: underline;
  }
  
  .active {
	text-decoration: underline;
  }
  
